<footer>
	<div class= "footer">
    <div class="footer-content">

    {{ range .Site.Menus.principal }}


        <ul class="footer-col">

          <li class="footer-prim"><a href="{{ .URL }}">{{ .Name }}</a></li>
            
            <ul>
              {{ range .Children }}
                <li class="footer-sub"><a href="{{ .URL }}">{{ .Name }}</a></li>          
              {{ end }}
            </ul>

        </ul>

    {{ end }}

            <ul class="footer-col">
              <a href="{{ .Site.BaseURL }}"><img class="logo" src="/images/ldevlogobi.svg"></img></a>
            </ul>
    </ul>
	</div>

</footer>