<div class="formulaire">
	<div class="tete">
		<img src="/images/image-formulaire.jpg"></img>
		<div class="intro-formulaire">
			<p><strong>Tisser le lien…</strong></p>
			<p>Échanger, faire un don, ou simplement se dire bonjour ?</p>
		</div>
	</div>
	<div class="corps">
		<form action="https://docs.google.com/forms/d/e/1FAIpQLSeBTcWMM5OGFaVSzJ3d4eEUe2UykJmWon9bafebEpDtzB2bgA/formResponse" id="mG61Hd" method="post" name="mG61Hd" target="hidden_iframe">
			<div class="freebirdFormviewerViewFormCard">
				<div class="freebirdFormviewerViewAccentBanner freebirdAccentBackground"></div>
				<div class="freebirdFormviewerViewFormContent">
					<div class="freebirdFormviewerViewItemList" role="list">
						<div class="freebirdFormviewerViewItemsItemItem freebirdFormviewerViewItemsTextTextItem" data-item-id="398983342" role="listitem">
							<div class="freebirdFormviewerViewItemsItemItemHeader">
								<div class="freebirdFormviewerViewItemsItemItemTitleContainer">
									<div class="freebirdFormviewerViewItemsItemItemHelpText" dir="auto" id="i.desc.398983342"></div>
								</div>
							</div>
							<div class="freebirdFormviewerViewItemsTextItemWrapper">
								<div class="quantumWizTextinputPaperinputEl freebirdFormviewerViewItemsTextShortText freebirdThemedInput">
									<div class="quantumWizTextinputPaperinputMainContent exportContent">
										<div class="quantumWizTextinputPaperinputContentArea exportContentArea">
											<div class="quantumWizTextinputPaperinputInputArea">
												<input placeholder="Nom" aria-describedby="i.desc.398983342 i.err.398983342" aria-label="Nom" autocomplete="off" class="quantumWizTextinputPaperinputInput exportInput" data-initial-dir="auto" data-initial-value="" dir="auto" name="entry.1570818251" tabindex="0" type="text" value="">
											</div>
											<div class="quantumWizTextinputPaperinputUnderline exportUnderline"></div>
											<div class="quantumWizTextinputPaperinputFocusUnderline exportFocusUnderline"></div>
										</div>
									</div>
									<div class="quantumWizTextinputPaperinputCounterErrorHolder">
										<div class="quantumWizTextinputPaperinputHint exportHint"></div>
									</div>
								</div>
							</div>
							<div class="freebirdFormviewerViewItemsItemGradingGradingBox freebirdFormviewerViewItemsItemGradingFeedbackBox"></div>
							<div class="freebirdFormviewerViewItemsItemErrorMessage" id="i.err.398983342" role="alert"></div>
						</div>
						<div class="freebirdFormviewerViewItemsItemItem freebirdFormviewerViewItemsTextTextItem" data-item-id="2004365584" role="listitem">
							<div class="freebirdFormviewerViewItemsItemItemHeader">
								<div class="freebirdFormviewerViewItemsItemItemTitleContainer">
									<div class="freebirdFormviewerViewItemsItemItemHelpText" dir="auto" id="i.desc.2004365584"></div>
								</div>
							</div>
							<div class="freebirdFormviewerViewItemsTextItemWrapper">
								<div class="quantumWizTextinputPaperinputEl freebirdFormviewerViewItemsTextShortText freebirdThemedInput">
									<div class="quantumWizTextinputPaperinputMainContent exportContent">
										<div class="quantumWizTextinputPaperinputContentArea exportContentArea">
											<div class="quantumWizTextinputPaperinputInputArea">
												<input placeholder="Courriel" aria-describedby="i.desc.2004365584 i.err.2004365584" aria-label="Votre courriel" autocomplete="off" class="quantumWizTextinputPaperinputInput exportInput" data-initial-dir="auto" data-initial-value="" dir="auto" name="entry.119745485" tabindex="0" type="text" value="">
											</div>
											<div class="quantumWizTextinputPaperinputUnderline exportUnderline"></div>
											<div class="quantumWizTextinputPaperinputFocusUnderline exportFocusUnderline"></div>
										</div>
									</div>
									<div class="quantumWizTextinputPaperinputCounterErrorHolder">
										<div class="quantumWizTextinputPaperinputHint exportHint"></div>
									</div>
								</div>
							</div>
							<div class="freebirdFormviewerViewItemsItemGradingGradingBox freebirdFormviewerViewItemsItemGradingFeedbackBox"></div>
							<div class="freebirdFormviewerViewItemsItemErrorMessage" id="i.err.2004365584" role="alert"></div>
						</div>
						<div class="freebirdFormviewerViewItemsItemItem freebirdFormviewerViewItemsTextTextItem" data-item-id="1747756783" role="listitem">
							<div class="freebirdFormviewerViewItemsItemItemHeader">
								<div class="freebirdFormviewerViewItemsItemItemTitleContainer">

									<div class="freebirdFormviewerViewItemsItemItemHelpText" dir="auto" id="i.desc.1747756783"></div>
								</div>
							</div>
							<div class="quantumWizTextinputPapertextareaEl modeLight freebirdFormviewerViewItemsTextLongText freebirdThemedInput">
								<div class="quantumWizTextinputPapertextareaMainContent exportContent">
									<div class="quantumWizTextinputPapertextareaContentArea exportContentArea ecrits">
										<textarea placeholder="Message" onkeyup="auto_grow(this)" aria-label="Message" class="quantumWizTextinputPapertextareaInput exportTextarea" data-initial-dir="auto" data-initial-value="" data-rows="1" dir="auto" name="entry.1490509060" style="height: 24px;" tabindex="0"></textarea>
									</div>
									<div class="quantumWizTextinputPapertextareaUnderline exportUnderline"></div>
									<div class="quantumWizTextinputPapertextareaFocusUnderline exportFocusUnderline"></div>
								</div>
								<div class="quantumWizTextinputPapertextareaHint exportHint"></div>
							</div>
							<div class="freebirdFormviewerViewItemsItemGradingGradingBox freebirdFormviewerViewItemsItemGradingFeedbackBox"></div>
							<div class="freebirdFormviewerViewItemsItemErrorMessage" id="i.err.1747756783" role="alert"></div>
						</div>
					</div>
					<div class="freebirdFormviewerViewNavigationNavControls" data-shuffle-seed="-121034297010793705">
						<div class="freebirdFormviewerViewNavigationButtonsAndProgress">
							<div class="freebirdFormviewerViewNavigationButtons">
								<div aria-disabled="false" class="quantumWizButtonPaperbuttonEl quantumWizButtonPaperbuttonFlat quantumWizButtonPaperbuttonDark quantumWizButtonPaperbutton2El2 freebirdFormviewerViewNavigationSubmitButton" role="button" tabindex="0">
									<div class="quantumWizButtonPaperbuttonRipple exportInk"></div>
									<button onclick="show_alert();" class="quantumWizButtonPaperbuttonFocusOverlay exportOverlay">Envoyer</button>
								</div>
							</div>
						</div>
					</div><input name="fvv" type="hidden" value="1"><input name="draftResponse" type="hidden" value="[null,null,&quot;-121034297010793705&quot;] "><input name="pageHistory" type="hidden" value="0"><input name="fbzx" type="hidden" value="-121034297010793705">
				</div>
			</div>
		</form>

	</div>
</div>