<div class="keauvalcopyright">
 ____ ____ ____ ____ ____ ____ ____ 
||K |||E |||A |||U |||V |||A |||L ||
||__|||__|||__|||__|||__|||__|||__||
|/__\|/__\|/__\|/__\|/__\|/__\|/__\|  

© Keauval Theme by Valentin Cauro © 

</div>

<header>

  <script>
        function sticky_relocate() {
            var window_top = $(window).scrollTop();
            var div_top = $('#sticky-anchor').offset().top;
            if (window_top > div_top) {
                $('#miniheader').addClass('mini-on');
                $('#sticky-anchor').height($('#miniheader').outerHeight());
                $('#nav').addClass('minicrea');
            } else {
                $('#miniheader').removeClass('mini-on');
                $('#sticky-anchor').height(0);
                $('#nav').removeClass('minicrea');

            }
        }

        $(function() {
            $(window).scroll(sticky_relocate);
            sticky_relocate();
        });

  </script>

  <div class="container">

        <div>
            <div class="logoterre">
        	   <a class="logoheader" href="{{ .Site.BaseURL }}"></a>
            </div>
          	<nav class="menu">
                {{ $currentPage := . }}
                {{ range .Site.Menus.principal }}
                <a class="menu-item{{if or ($currentPage.IsMenuCurrent "principal" .) ($currentPage.HasMenuCurrent "principal" .) }} active{{end}}" href="{{ .RelPermalink }}">{{ .Name }}</a>
                {{ end }}
            </nav>

        </div>

    </div>

    <div id="sticky-anchor"></div>


    <div id="miniheader">

        <div class="container">
            <div class="logoterre">
                <a class="logoheader" href="{{ .Site.BaseURL }}"></a>
            </div>
            <nav class="menu">
                {{ $currentPage := . }}
                {{ range .Site.Menus.principal }}
                <a class="menu-item{{if or ($currentPage.IsMenuCurrent "principal" .) ($currentPage.HasMenuCurrent "principal" .) }} active{{end}}" href="{{.URL}}">{{ .Name }}</a>
                {{ end }}
            </nav>

        </div>


    </div>
</header>
<!--
<header class="header-min">

	<a class="logoheader" href="{{ .Site.BaseURL }}"></a>
  	<nav class="menu">
        {{ $currentPage := . }}
        {{ range .Site.Menus.principal }}
        <a class="menu-item{{if or ($currentPage.IsMenuCurrent "principal" .) ($currentPage.HasMenuCurrent "principal" .) }} active{{end}}" href="{{.URL}}">{{ .Name }}</a>
        {{ end }}
    </nav>


</header>
-->