<div class="keauvalcopyright">
 ____ ____ ____ ____ ____ ____ ____ 
||K |||E |||A |||U |||V |||A |||L ||
||__|||__|||__|||__|||__|||__|||__||
|/__\|/__\|/__\|/__\|/__\|/__\|/__\|  

© Keauval Theme by Valentin Cauro © 

</div>

<header>

	<a class="logoheader" href="{{ .Site.BaseURL }}"></a>
  	<nav class="menu">
        {{ $currentPage := . }}
        {{ range .Site.Menus.principal }}
        <a class="menu-item{{if or ($currentPage.IsMenuCurrent "principal" .) ($currentPage.HasMenuCurrent "principal" .) }} active{{end}}" href="{{.URL}}">{{ .Name }}</a>
        {{ end }}
    </nav>

</header>