<head>
	<title>Le Désert en Ville | Espace de Création Hors-sol</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel='shortcut icon' href='/images/favicon.png'>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="./css/knacss.css" rel="stylesheet">
	<link href="./css/style.css" rel="stylesheet">
	<link href="./css/mediaqueries.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Spectral:200,200i,300,300i" rel="stylesheet">
	<script src="./js/jquery-3.2.1.min.js"></script>
	<script src="./js/jquery.flip.min.js"></script>
	<script src="./js/jquery.scrollify.min.js"></script>
	<script src="./js/jquery.fitvids.js"></script>
</head>