<!DOCTYPE html>
<html>

	{{ partial "head.html" .}}
	<script>
	 	 $(document).ready(function(){
	    	// Target your .container, .wrapper, .post, etc.
	   	 $(".video").fitVids();
	  	});

		function auto_grow(element) {
	    element.style.height = "5px";
	    element.style.height = (element.scrollHeight)+"px";
		}

		var submitted=false;

		function show_alert() {
			alert("Merci");
		}

        function sticky_relocate() {
            var window_top = $(window).scrollTop();
            var div_top = $('#sticky-anchor').offset().top;
            if (window_top > div_top) {
                $('#nav').addClass('stick');
                $('a').addClass('white');
                $('#sticky-anchor').height($('#nav').outerHeight());
            } else {
                $('#nav').removeClass('stick');
                $('a').removeClass('white');
                $('#sticky-anchor').height();
            }
        }

        $(function() {
            $(window).scroll(sticky_relocate);
            sticky_relocate();
        });

  </script>

  <body>

    {{ partial "header.html" .}}

    <div class="container">
	    
	    <div id="sticky-anchor"></div>

	  	<nav class="menucrea" id="nav">
	        {{ $currentPage := . }}
	        {{ range .Site.Menus.crea }}
			<a class="menucrea-item{{if or ($currentPage.IsMenuCurrent "crea" .) ($currentPage.HasMenuCurrent "crea" .) }} active{{end}}" href="{{ .URL }}">{{ .Name }}</a>
	        {{ end }} 
	        <h2>{{ .Params.soustitre }}</h2>
	        <hr>
	    </nav>

	    </div>

		<main>
			<div class="container">

		   		 <div class="sidebar">
		   		 	{{ .Content }}
				</div>

				<div class="content">

					{{ if .Params.vimeo }}
						<div class="video">
						  <iframe width="560" height="315" src="https://player.vimeo.com/video/{{ .Params.vimeo }}?autoplay=1" frameborder="0" allowfullscreen></iframe>
						</div>
					{{ end }}
					{{ if .Params.vimeo2 }}
						<div class="video">
						  <iframe width="560" height="315" src="https://player.vimeo.com/video/{{ .Params.vimeo2 }}?autoplay=1" frameborder="0" allowfullscreen></iframe>
						</div>
					{{ end }}
					{{ partial "gallery.html" .}}
				</div>
			</div>

	    </div>

	</main>

	<iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted) {window.location='REDIRECT-URL.html';}"></iframe>

	{{ partial "formulaire" .}}
	
	<div class="prefooter">
	</div>
	
	{{ partial "footer.html" .}}

  </body>

</html>