@media only screen and (min-width: 1400px) {

}


@media only screen and (max-width: 1200px) {

	header{
		margin: 20px 0;
	}

	.menu-item{
		padding: 10px 10px;
		margin: 10px 15px;
	}

	a.menu-item:before{
	    width: 55px;
	    top: 30px;
	    margin-left: 10px;
	}

	.logoheader:hover{
		background-image: none;
	}

}



@media only screen and (max-width: 1045px) {


	body{
		border:none;
	}

	main{
	    margin: 115px 0 10vh 0;
	}

	main hr{
		margin-left:0;
	}
	.container{
		margin:0;
		width: 100%;
	}

	header{
		display: none;
	}

	.header-min{
		top:0;
		z-index: 99;
		background-color:#404040;
		height:90px;
		width: 100%;
		margin:0;
		position: fixed;
		display: inherit;
	}

	.logoheader{
	    background-color: #E66C3E;
	    border: 15px solid #E66C3E;
	    transform: none;
	    margin-left: 20px;
	    vertical-align: bottom;
	    display: inline-block;
	    width: 220px;
	    height: 97px;
	    background-repeat: no-repeat;
	    background-image: url(/img/ldevlogoblancxs.svg);
	}

	.menu{
		text-align: center;
    	margin: 10px 0 18px 0;
		float:none;

	}

	a.menu-item{
		font-size:16px !important;
	    margin: 10px 10px;
	    color: #ffffff !important;
	}

	.menu-item.active{
	    font-weight: 300;
		color: #ffffff !important;
		border-bottom:solid 1px #404040;
	}

	.menu-item.active:before{
		top:12px;
		width: 50px;
		content: url(/img/cercleblanc.svg);
	}

	.sidebar{
		width: 100%;
	}

	.sidebar p{
		font-size:1.2em;
	}

	.content{
		padding:0;
		margin-left:0;
		width: 100%;
	}

	.atelier-item {
    	width: calc((95% - 20px) / 2);
	}

	.card{
    	width: calc(( 99% / 2 ) - 20px);
	}

	.back p{
		font-size:.85em;
	}

	.content img, .video{
		padding:0;
	}


}
@media only screen and (max-width: 800px) {

	main{
		margin: 175px 0 0 0;
	}

	main p{
		margin: 5vh 0;
		font-size:1.15em;
		line-height:2em;
	}

	.logoheader{
		margin-left:0;
		background-position: center;
		border: 9px solid #E66C3E;
    	width: 260px;
    	height: 83px;
	}

	.header-min{
		text-align: center;
		height:inherit;
	}

	.menu{
		width: 100%;
		margin:0;
		border-top:1px solid #525252;
	}

	a.menu-item.active:before{
		display: none;
	}


	.atelier-item {
	    display: inline-block;
	    width: 99%;
	    margin-right: 0px;
	    margin-bottom: 50px;
	}

	.voyageur-liste{
		margin:0;
	}

	.card{
		margin-bottom:30px;
		margin-right:0;
		height:auto;
		width: 100%
	}
	.front{
		position: relative !important;
	}
	.voyageur-item{
		display: block;
		height:auto;
	}
	.voyageur-infos{
		display: none;
	}
	.voyageur-image{
		width: 100%;
		height: 85vw;
	}
	.voyageur-image:hover{
		margin-top:0;
		cursor:initial;
		opacity:1;
	}
	.voyageur-image:hover>img{
		opacity: 1;
	}
	.voyageur-image:before{
		display: none;
	}
	.voyageur-image:after{
		display: none;
	}


	.back{
		text-align: center;
		transform:none !important;
		padding:30px 10px;
		background-color: #ffffff;
		color: #000000;

	}
	.back hr{
		display: none;
	}
	.back h2{
		margin-bottom:5px;
		font-size:6vw;
	}

	.back h3{
		line-height: inherit;
		display: inline-block;
		border-bottom: 1px solid rgb(230, 108, 62);
		font-size:4.5vw;
		padding-bottom:1em;
		margin-bottom:0;
	}
	.back p{
		color: #000000;
		font-size:3.8vw;
	}
	.footer-col{
		width:15%;
		margin:13px;
	}
		.footer-content{
		padding:40px 20px;
		width: 100%;
	}

	.footer-col{
		margin:0 0 20px 0;
		width: 100%;
	}

	.footer-sub{
		margin:5px 0;
	}

	.footer ul>li>a {
		font-size:17px;
		padding:5px 0;
		display: block;
	}

	.footer ul>li>a:hover {
		color:inherit;
		font-size: 17px;
	}

}


@media only screen and (max-width: 520px) {

	.col50{
		width:100%;
	}

	.info{
		padding-left:0;
	}

	.formulaire{
		display: none;
	}

	.header-min{
		top:0;
		height:auto;
	}

	main{
		margin-top: calc( 20vw + 70px );
		padding:10px;
	}

	.logoheader, .menu{
		width:100%;
	}

	.logoheader{
		margin-left:0;
		height:20vw;
		position: relative;
	    background-size: 80vw;
	    border:none;
	    background-image: url(/img/ldevlogoblancxxs.svg);
	    background-position: center;
    	background-image: url(/img/ldevlogoblancxxs.svg);
	}


	a.menu-item{
		font-size:13px !important;
    	margin: 0;
    	padding: 12px .8vw;
	}

	a.menu-item.active{
	    color: #ffffff !important;
	    border-top: solid 0px #e66c3e;
	    background-color: #000;
	}



	.sidebar{
		width: 100%;
	}

	.sidebar p{
		font-size:1.2em;
	}

}



