@media only screen and (max-width: 1400px) {

	.sidebar blockquote:before{
		display: none;
	}
}


@media only screen and (max-width: 1200px) {

	main{
		padding:30px;
		margin:0;
	}

	.hp h1{
		margin: 5vh 0;
	}

	.hp h2{
		font-size:1.3em;
		margin:4vh 0;
	}

	.hp .logo{
		width: 320px;
	}

	.hp .buttonblanc{
		display: inline-block;
		margin: 2vh auto;
		padding: .5em 1.8em;
	}

	.hp .buttonblanc:hover{
		transform:none;
		border:none;
		border-bottom:transparent;
		margin:2vh auto;
		padding-bottom:10px;
	}

	.hp .scroll{
		display: none;
	}

	.hp .menu {
		border-bottom:0;
	}

	.home-2, .home-3{
		display: none;
	}

	.menu-item{
		padding: 10px 10px;
		margin: 10px 15px;
	}

	.logoheader:hover{
		background-image: url(/img/ldevlogoheader2.svg);
	}

	.sidebar blockquote:before{
		display: none;
	}

	.container{
		width: 100%;
	}

	.stick{
		position: fixed;
		top:0 !important;
	}

	#miniheader a.menu-item, #miniheader a.menu-item.active {
		padding:15px 19px;
	}

	.header-min{
		top:0;
		z-index: 99;
		background-color:#404040;
		height:90px;
		width: 100%;
		margin:0;
		display: inherit;
	}

	.menucrea{
		margin:0;
		text-align: center;
		border-bottom:2px solid #eaeaea;
		padding:0 10px;
		z-index: 150;
		top:50px;
		background-color:#f5f5f5;
		width: 100%
	}

	.menucrea a.menucrea-item{
		margin-right:30px;
		font-size:20px;
		padding:10px;
	}

	.menucrea a.menucrea-item.active{
		margin-right:30px;
		float:inherit;
	}

	.menucrea h2, .menucrea hr{
		display: none
	}


	.logoheader{
	    margin-left: 20px;
	}

	a.menu-item{
		font-size:16px;
	    margin: 0;
	    padding: 43px 20px;
	}

	a.menu-item.active{
		background-color:#f5f5f5;
	    font-weight: 300;
		color: #000000;
	}
	.menu-item.active:before{
		top:20px;
	}


/*
	.menucrea{
	    width: 100%;
	    z-index: 50;
   		padding: 0;
   		top: 90px;
	    background-color: #F8F8F8;
	}

	.menucrea h1{
		font-size:20px;
	}

	.menucrea h2{
		display: none;
	}

	.menucrea hr{
		display: none;
	}

	a.menucrea-item{
		padding:15px;
		margin-right:0px;
		font-size:18px;
	}

	a.menucrea-item.active{
		background-color: #C64F24;
		color: #ffffff;
		font-size:18px;
		padding:15px 30px;
		margin-left: 0px;
		margin-right: 0px;
		font-weight: 300 !important;
	}
*/
	.sidebar{
		width: 100%;
		padding:0px;
		padding-top:20px;
	}

	.sidebar p{
		font-size:1em;
	}

	.content{
		padding:0;
		margin-left:0;
		width: 100%;
	}

	.atelier-item {
    	width: calc((95% - 20px) / 2);
	}

	.card{
    	width: calc(( 99% / 2 ) - 20px);
	}

	.back p{
		font-size:.85em;
	}

	.content img, .video{
		padding:0;
	}
}


@media only screen and (max-width: 800px) {

	.home-1{
		height:100vh !important;
	}

	.container{
		width:100%;
	}

	main p{
		margin: 1.5vh 0;
		font-size:.8em;
		line-height:2em;
	}

	.logoheader{
	    opacity: .8;
	    margin-left: 0;
	    height: 110px;
	    position: relative;
	    border: none;
	    background-size:35%;
	    background-position: center;
	    transform: scale(1);
	}


	.logoheader:hover{
		background-image: url(/img/ldevlogoblancxxs.svg);
	}

	.logoheader, .menu{
		width:100%;
	}

	.ateliernav{
		display: block;
		margin-top: 1em;
	}

	.ateliernav span{
		display: none;
	}

	.hp .buttonblanc{
		letter-spacing: 0;
		font-weight: 200;
		background-color: transparent;
		color: #ffffff;
		display: block;
		border: 1px solid #ffffff;
		margin: 3vh auto;
		width: 80%;
	}

	a.menu-item {
    	font-size: 16px;
    	font-weight: 200;
    	padding: 12px 11px;
	}

	.header-min{
		text-align: center;
		height:inherit;
	}

	header .menu{
		border-top:2px solid #fafafa;
		width: 100%;
		margin:0;
		text-align: center;
	}

	.header .menu{
		border-top: 2px solid #f5f5f5;
	}

	a.menu-item.active{
		border-top: 1px solid #e66c3e;
	    background-color: #f5f5f5;
	}

	a.menu-item.active:before{
		display: none;
	}

	.menucrea{
		text-align: center;
		top:50px;
		padding:0;
	}

	.minicrea{
		top:43px;
	}

	.menucrea a.menucrea-item, .menucrea a.menucrea-item.active{
	    margin-right: 0px;
	    font-size: 16px;
	    padding: 10px 20px;
	}

	.menucrea a.menucrea-item.active{
		font-weight: 300;
		margin-right:0;
	}

	#miniheader .menu{
		width: 100%
	}

	#miniheader .logoheader{
		display: none;
	}


	.atelier-item {
	    display: inline-block;
	    width: 99%;
	    margin-right: 0px;
	    margin-bottom: 50px;
	}

	.voyageur-liste{
		margin-top:40px;
	}

	.card{
		margin-bottom:30px;
		margin-right:0;
		height:auto;
		width: 100%
	}

	.front{
		position: relative !important;
	}

	.voyageur-item{
		display: block;
		height:auto;
	}


	.voyageur-item .back p a{
		text-align: center;
		font-size:1.2em;
	    border-color: #E66C3E;
	    color: #E66C3E;
	    display: block;
		border: 1px solid #E66C3E;
	    margin: 1.2em 0;
	}

	.voyageur-infos{
		display: none;
	}

	.voyageur-image{
	    margin: 0 auto;
	    height: 45vw;
	}

	.voyageur-image:hover{
		margin-top:0;
		cursor:initial;
		opacity:1;
	}

	.voyageur-image:hover>img{
		opacity: 1;
	}

	.voyageur-image:before{
		display: none;
	}

	.voyageur-image:after{
		display: none;
	}

	.info{
		padding-left:0 !important;
	}

	.col50{
		width:100%;
	}

	.back{
		text-align: center;
		transform:none !important;
		padding:30px 10px;
		background-color: transparent;
		color: #000000;
	}

	.back hr{
		display: none;
	}

	.back h2{
		margin-bottom:5px;
		color: #e66c3e;
		font-size:1.2em;
	}

	.back h3{
		line-height: inherit;
		display: inline-block;
		font-size:1.1em;
		padding-bottom:1em;
		margin-bottom:0;
	}

	.back p{
		text-align: justify;
		color: #000000;
		font-size: .9em;
	}

	.footer-col{
		width:15%;
		margin:13px;
	}

	.footer-content{
		padding:40px 20px;
		width: 100%;
	}

	.footer-col{
		margin:0 0 20px 0;
		width: 100%;
	}

	.footer-sub{
		margin:5px 0;
	}

	.footer ul>li>a {
		font-size:12px;
		padding:2px 0;
		display: block;
	}

	.footer ul>li>a:hover {
		color:inherit;
		font-size: 12px;
	}

	.formulaire{
		display: none;
	}


}


@media only screen and (max-width: 520px) {

	body{
		border: none;
	}

	main{
		padding: 20px;
	}

	main p{
		font-size:1.1em;
	}

	.logoheader{
		background-image:url(/img/ldevlogonoirxxs.svg);
		height:70px;
		background-size:75%;
	}

	#miniheader{
		border-bottom:none;
	}

	.voyageur-image{
		width:100%;
		height:60vw;
	}

	.back p{
		padding:0;
		text-align: center;
	}

	a.menu-item, a.menu-item.active{
		padding: 10px 10px;
		font-size:14px;
		margin:0;
	}

	.menu{
		border-bottom: 1px solid #f3f3f3;
	}

	.menucrea a.menucrea-item, .menucrea a.menucrea-item.active{
    	font-weight: 300;
	    margin-right: 0px;
	    font-size: 15px;
	    padding: 7px 5px;
	}

	.menucrea a.menucrea-item.active{
		background-color: transparent;
		color: #e66c3e;
	}

	a.menucrea-item.white{
		display: none;
	}

	.header-min{
		top:0;
		height:auto;
	}

	.sidebar{
		width: 100%;
	}

	.sidebar p{
		font-size:1.2em;
	}

	#miniheader a.menu-item, #miniheader a.menu-item.active {
	    padding: 13px 5px;
	    font-size:12px;
	}

	.prefooter{
		display: none;
	}

}

@media only screen and (max-width: 490px) {

	.logoheader{
	    height: 100px;
		background-size: 85%;
	}

	a.menu-item, a.menu-item.active{
		padding: 10px 5px;
		font-size: 12px;
		margin:0;
	}

	.menucrea a.menucrea-item, .menucrea a.menucrea-item.active {
		font-size: 12px;
	}


}



