html{
}

body{
	border:1px solid #E66C3E;
	background-color: #fafafa;
}

h1,h2,h3,h4,p{
	font-weight: 200;
	font-family: 'Spectral', serif;
}

.container{
	width: 1200px;
	margin:0 auto;
}


.keauvalcopyright{
	display: none;
}

.home-1{
	position: relative;
	background: #E66C3E;
	height:100vh;
}

.home-1:before{
	content:'';
	position: absolute;
	width: 100%;
    height:100%;
    opacity:0.6;
	overflow: hidden;
	background: url("/img/terre-rouge.jpg");
	transition:opacity;
 	background-size: cover;	
	animation: apparitionB 3s ease-in;
	animation-fill-mode: forwards;

}

.terrecrack{
    width: 100%;
    left: 0;
    top: 0;
    height: 100vh;
    opacity: 0.2;
	overflow: hidden;
	background-image: url("/img/terre-crack.jpg");
 	background-size: cover;	
}


.home-2{
	position:relative;
	background: #ffffff;
	height:100vh;
}

.home-2:before{
	content:'';
	position: absolute;
    min-width: 100%;
    height: 100vh;
    opacity: 0.2;
	overflow: hidden;
	background: url("/img/terre-crack.jpg");
 	background-size: cover;	
}

.home-3{
	position: relative;
	background: #000000;
	height:100vh;
}

.home-3:before{
	content:'';
	position: absolute;
    min-width: 100%;
    height: 100vh;
    opacity: 0.2;
	overflow: hidden;
	background: url("/img/terre-crack.jpg");
 	background-size: cover;		
}


.intro-1 .logo{
	animation: apparition 1s;
	opacity:0;
	animation-delay: 1s;
	animation-fill-mode: forwards;
	display: inline-block;
	width: 400px;
	height:100%;
	background-repeat: no-repeat;
}

.texteintro{
	vertical-align: middle;
	max-width:1000px;
	display: block;
	margin: 5vh auto;
}

.intro-1, .intro-2, .intro-3{
	top: 50vh;
    transform: translateY(-50%);
	left:0;
	right:0;
	position:absolute;
	z-index: 1;
	text-align:center;
}


.intro-1 h1{
	margin-top:5vh;
	margin-bottom:8vh;
}

.intro-1 h2{
	font-family: 'Montserrat', sans-serif;
	font-weight: 200;
	font-size: 1.3em;
	letter-spacing: 2px;
	margin: 4vh 0;
	color:#ffffff;
	animation: apparition 1s;
	opacity:0;
	animation-fill-mode: forwards;
	animation-delay: 2s;
}

.intro-1 h3{
	margin: 7vh 0;
}

.intro-1 .menu{
	opacity:0;
	font-size:130%;
	float:inherit;
	width:100%;
	max-width: none;
	animation: apparition 1s;
	animation-delay: 3s;
	animation-fill-mode: forwards;
}


.scroll{
	bottom:0;
    position: relative;
    font-size: 1.3em;
    display: block;
    height: 100px;
    opacity:0;
	animation: apparition 1s;
	animation-delay: 4s;
	animation-fill-mode: forwards;
}

.scroll:after{
    content: '';
    width: 40px;
    height: 40px;
    position: absolute;
    margin: auto;
    top: 10px;
    right: 0;
    left: 0;
    -webkit-animation: 3s arrow infinite ease;
    animation: 3s arrow infinite ease;
    border-right: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.buttonblanc{
	cursor:pointer;
	letter-spacing: 1px;
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
	font-weight: 200;
	font-size:0.7em;
	margin:.5em;
	color:#ffffff;
	text-align: center;
	display: inline-block;
	padding:.5em 2em;
	border-bottom: 1px solid rgba(255, 255, 255, .0);
	transition: all .3s;

}

.buttonblanc:hover{
	transform: translateY(-10px);
	padding-bottom: 20px;
	transition: all .3s;
	margin-bottom: -10px;
	border-bottom: 1px solid rgba(255, 255, 255, .4);
	color:#ffffff;
}

.buttonblack{
	display: inline;
	cursor:pointer;
	font-family: 'Montserrat', sans-serif;
	font-weight: 200;
	font-size:1.2em;
	color:#000;
	text-align: center;
	text-decoration: none;
    display: block;
    width: 100%;
    padding: 0.8em 0;
    margin: 1.2em 0;
	border-bottom:1px solid rgba(255, 255, 255, 0); 
	transition:all .2s;

}

.buttonblack:hover{
	border-color: rgba(0,0,0,.5);
	transition:all .2s;
	color:#333;
}

.intro-2, .intro-3{
	left:0;
	right:0;
	position:absolute;
	z-index: 1;
	text-align:center;
}

.intro-2 .scroll::after {
	animation:none;
	border-color:#000000 !important;
}
.valigncentre{
  vertical-align: middle
}


.intro-2 .logo{
	display: block;
	margin:5vh auto 2vh auto;
	width:200px;
	background-repeat: no-repeat;
	content:url("/img/ldevlogonoir.svg");
}

.intro-3{
	color:#fff;
}

.intro-3 .scroll{
	transform:rotate(180deg);
}
.intro-3 .logo{
	display: block;
	margin:2vh auto;
	width:200px;
	background-repeat: no-repeat;
	content:url("/img/ldevlogoblanc.svg");
}

.intro-3 .buttonblack{
	color: #fff !important;
}

.intro-3 .buttonblack:hover{
	border-color:#fff;
}

.col70{
	display: block;
	width:70%;
	float:left;
}

.col50{
	display: inline-block;
	width:49%;
	padding:20px;
	vertical-align: middle;
}

.hp p{
	font-family: 'Spectral', sans-serif;
	font-weight: 200;
	font-style: italic;
	padding:0 2em;
	line-height: 2em;
	margin:2% 0;

}


.col30{
	display: block;
	width:30%;
	float:left;
}


@keyframes arrow {
	0%,100% {
		top:10px;
	}
	50% {
		top:30px;
	}
}

@keyframes apparition{
	from {opacity: 0}
	to {opacity: 1}
}
@keyframes disparition{
	from {opacity: 1}
	to {opacity: 0}
}

@keyframes apparitionB{
	0% {opacity: 0.0;}
	100% {opacity: 0.6;}
}


header{
	background-color: rgba(255,255,255,.5);
	border-bottom:1px solid #f4f4f4;
	padding: 0;
}

/**
#miniheader{
	display: none;
	z-index: 99;
    width: 100%;
    left: 0;
    height:50px;
    position: fixed;
    top: 0;
    background-color: #404040;
}

#miniheader .menu{
	padding:0;
	margin:0;
}

#miniheader .logoheader{
	transform: scale(1);
    vertical-align: top;
    width: 320px;
    height: 50px;
    border: 10px solid #e66c3e;
	background-image:url(/img/ldevlogoblancxxs.svg);
	background-color:#E66C3E;
}

#miniheader a.menu-item, #miniheader a.menu-item:active{
}

*/

#miniheader{
	background-color:#ffffff;
	border-bottom:2px solid #f4f4f4;
	visibility: hidden;
	transform: translateY(-50px);
	z-index: 99;
    width: 100%;
    left: 0;
    position: fixed;
    top: 0;
    transition: .3s;
}

#miniheader .menu{
	width: calc( 100% - 360px);
	padding:0;
	margin:0;
	text-align: center;
}

#miniheader .logoheader{
    vertical-align: middle;
    width: 320px;
    height: 30px;
	background-image:url(/img/ldevlogonoirxxs.svg);
}
#miniheader a.menu-item.active{
    background-color: #f5f5f5;
    font-weight: 400;
    border-top: 1px solid #E66C3E;
    color: #3c3c3c;
}

#miniheader a.menu-item, #miniheader a.menu-item.active{
	color: #000000;
	margin: 0px;
	padding: 15px 30px;
	font-size: 14px;
}

#miniheader a.menu-item:before{
	display: none;
}

.mini-on{
	transform: translateY(0) !important;
	transition: .3s;
	visibility: visible !important;
}

.header-min{
	display: none;
}

.hp .menu{
	float:inherit;
}

.logoheader{
	opacity: .8;
	border:5px solid #ffffff;
	margin-left: 10px;
	vertical-align: middle;
	display: inline-block;
	width:205px;
	height:110px;
	background-repeat: no-repeat;
	background-image: url("/img/ldevlogoheader2.svg");
}

.logoheader:hover{
	opacity:1;
	background-image: url("/img/ldevlogoheaderhover.svg");	
}


.menu{
	vertical-align: middle;
	width: calc( 100% + -260px);
	position: relative;
	display: inline-block;
	text-align: right;
}

.menu-item{
	text-transform: uppercase;
	vertical-align: top;
	display: inline-block;
	padding: 40px 20px;
}

a.menu-item:before{
	display: none;
	position:absolute;
	content:url("/img/cercleorange.svg");
	width:55px;
	top:16px;
}


a.menu-item.active:before{
	display: initial;
}

a.menu-item {
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 16px;
	text-decoration: none;
	color: #4c4c4c;
	transition: .2s;
	margin:0px 25px;
	border:1px solid transparent;
}

a.menu-item:hover {
	color: #000;
	transition: transform .2s ease;
	border-bottom: 1px solid #C64F24;
	transition: border 1s ease;

}


a.menu-item.active {
	color:#000;
}

a.menu-item.active:hover {
	color:#000;
	border-bottom:transparent;
}

footer{
    z-index: 99;
    margin-top: 0em;
    width: 100%;
    background-color: #404040;
    position: relative;
}

footer:before{
	content:url("/img/grayborder.svg");
	width:100%;
	position: absolute;
	margin-top:-10px;

}
.footer-content{
	padding:50px 0;
	color:#ffffff;
	margin:0 auto;
}

.footer .logo{
	width:120px;
}

.footer-col{
	vertical-align: top;
	margin:0 30px;
    display: inline-block;
	color:#fff;
	list-style: none;
	padding-left:0;
}

.footer ul{
	list-style: none;
	padding-left:0;
}

.footer li{
}

.footer ul>li>a{
	font-family: 'Montserrat', sans-serif;
	font-size:12px;
	transition: .2s
}

.footer ul>li>a:hover{
	font-family: 'Montserrat', sans-serif;
	color:#B5B5B5;
	font-size:12px;
}

.footer .footer-prim{
	margin-bottom:.7em;
}

.footer .footer-prim a{
	text-decoration: none;
	color:#B5B5B5;
	text-transform: uppercase;

}

.footer .footer-sub a{
	text-decoration: none;
	color:#6C6C6C;
	text-transform: uppercase;
	margin-left:0;
	margin: 2px 0;

}
.prefooter{
	height: 170px;
    background-color: #ffffff;
    transform: rotate(-1.2deg);
    position: relative;
    top: -11px;
    z-index: 87;
    width: 110%;
}

.prefooter:before{
	content:url("/img/grayborderwhite.svg");
	width:100%;
	position: absolute;
	margin-top:-10px;
}

.menucrea{
	padding: 40px 40px 0 40px;
}

a.menucrea-item.active{
	animation-delay: -3s;
	font-size:22px;
	font-family: 'Spectral', serif;
	font-style: italic;
	float:left;
	font-weight: 200;
	font-variant: italic;
	color: #C64F24; 
	margin-right:25%;
	padding-top:0;
}

a.menucrea-item.active:hover{
	transform: none;
}


a.menucrea-item{
	color:gray;
	font-style: italic;
	font-size:22px;
	font-family: 'Spectral', serif;
	font-weight: 200;
	text-decoration: none;
	display: inline-block;
	transition: transform .2s ease;
	transition-delay: 10ms;
	position: relative;
	animation: apparition 1s;
	margin:0;
	margin-right:100px;
}

a.menucrea-item {

	margin-bottom: 0;
	transition: .3s;

}

a.menucrea-item:empty {display:none;}


a.menucrea-item:hover{
	color: #000; 
	transition: .3s;

}

.menucrea h1{
	color: #C64F24;
	font-size: 24px;
	font-weight:200;
	font-style: italic; 
}

.menucrea h2{
	clear:left;
	display: block;
	font-weight: 300;
	font-size: 16px;
	margin-top: -20px;
	font-family: 'Spectral', serif;
	font-style: normal;
}

.menucrea hr{
    color: #e66c3e;
    background-color: #e66c3e;
    width: 30%;
    max-width: 320px;
    margin-left:-1.5em;
    margin-bottom: 2em;
}

.sidebar{
	vertical-align: top;
	display: inline-block;
	padding: 10px;
	width: 280px;
}

.sidebar p{
	text-align:justify;
	font-family: 'Spectral', serif;
	font-size: 0.9em;
	font-weight: 200;
	line-height: 1.7em;
	margin-bottom: 2em;
}

.sidebar blockquote{
	padding:0;
}

.sidebar blockquote:before{
	left:-50px;
	top:25px;
}
.sidebar strong{
	color: #C64F24;
}

.sidebar em{
	font-size:110%;
	line-height:110%;
}

.sidebar hr{
    width: 50%;
    margin: 30px 0;
    margin-left: 0;
    color: #fafafa;
    height: 3px;
    background-color: #f7f7f7;
}

.sidebar a{
	position: relative;
	font-weight:300;
	font-size:1.1em;
	text-decoration: none;
	color:#e6774f;
	padding-left:20px;
	transition: 200ms;
}

.sidebar a:before{
    transform: rotate(180deg);
    content: "\A";
    border-style: solid;
    border-width: 8px 11px 8px 0px;
    border-color: transparent #e6774f transparent transparent;
    position: absolute;
    left: -5px;
    top:3px;
}

.sidebar a:hover{
	transition: 200ms;
	color: #C64F24;
}

.content{
	float:right;
	vertical-align: top;
	margin-left: 2vw;
    width: 70%;
    display: inline-block;
    padding: 10px;
}

.content img, .video{
	padding:10px;
	background-color:#f3f3f3;
	margin-bottom:3em;
}

.content iframe{
	margin-bottom:2em;
}


main{
	display: inline-block;
	width:100%;
	margin: 40px 0 10vh 0;
	padding: 20px;
}

main h1, main hr{
	display: none;
}

main h1{
	color: #C64F24;
	font-size: 24px;
	font-weight:200;
	font-style: italic; 
}

main h2{
	display: block;
	font-weight: 300;
	font-size: 16px;
	margin-top: 5px;
	font-style: normal;
}

main h3{
	font-size:1em;
	margin-top:5px;
}

main h4{
	font-size:.9em;
	font-weight:300;
	margin:0px;
	padding:0px;
}

main hr{
    color: #e66c3e;
    background-color: #e66c3e;
    width: 30%;
    max-width: 320px;
    margin-left:-1.5em;
    margin-bottom: 4em;
}

main p{
	color: #2f2f2f;
	font-size: 0.9em;
	margin: 2em 0;

}

main strong {
	font-weight: inherit;
	color: #000000;
}

p:empty {display:none;}


.ateliers-liste{
    display: inline-block;
    width: 100%;
    margin:2em 0;
}

.atelier-item{
	display: inline-block;
	width:calc((95% - 20px) / 3);
	margin-right:20px;
}

a.atelier-item{
	text-decoration: none;
}

.atelier-item img{
	background-color: #e66c3e;
	border:1px solid #f1f1f1;
	transition: all .2s ease;
}

.atelier-item img:hover{
	opacity:.9;
	border:1px solid #e66c3e;
	transition: all .2s ease;
}

.atelier-item:hover < h1:hover{
color:black;}


.atelierimg{
	margin-bottom:1em;
}


.atelier-item h1{
	font-size:1.2em;
	margin: 5px 0;
	padding:0;
}

.atelier-item h1:hover{
	text-decoration: underline;
}


.atelier-item h2{
	font-size:0.9em;
	margin: 0;
	padding:0;

}

.ateliernav {
	margin-bottom: 2em;
}

.ateliernav span {
	margin-right:2em;
	content:url("/img/back.svg");
	width:55px;
	height:70px;
	float:left;
	padding:20px;
	display: inline-block;
	border: 1px solid #E66C3E;
	transition: all .15s ease;

}

.ateliernav span:hover{
	color:#ffffff;

	background-color: #E66C3E;
	transition: width .2s ease-out;
}

.ateliernav span:before{
	background-image:("/img/back.svg");
	background-size:50%;
}

.ateliernav span:before:hover{
	background-image:("/img/backwhite.svg");
}


.voyageur-liste{
	margin: 5em 0;

}



.voyageur-item{
	position: relative;
	display: inline-block;
	overflow: hidden;
	height: 50vh;
}

.voyageur-image{
	width: 100%;
	height:100%;
	display: block;
    transition: margin .2s !important;
    transition-delay: 80ms !important;
}

.card{
	width: calc(( 99% / 3 ) - 20px);
	margin: 0px 20px 20px 0px;
    height: 100%;
    display: inline-block;
}

.front{
	transition:all .2s;
}
.back{
	color:#ffffff;
	padding:20px;
	cursor: pointer;
	background-color:#E66C3E;
}

.back h3{
    font-size: 1em;
    font-weight: 200;
    margin-top: 0px;
    line-height: 1px;
}

.back h2{
	font-size:1.2em;
}

.back p{
	position: relative;
	opacity:1;
	z-index: 10;
    font-size: calc(( .8em + .9vw) / 2);
    color: #ffffff;
    position: relative;
    opacity: 1;
    z-index: 10;
    line-height: 1.8em;
    margin-bottom:0;
    font-weight: 200;
}

.back hr {
	color: #ffffff;
    background-color: #ffffff;
    width: 30%;
    max-width: 320px;
    margin-left: 0;
    margin: 2em 0 2em 0;
}

.back p a{
	margin-right:1em;
	margin-top:2em;
	text-align:center;
	padding:10px;
	border:1px solid rgba(255,255,255,.3);
	font-family: 'Montserrat', sans-serif;
	font-size:1em;
	font-weight: 200;
	color:#ffffff;
	text-decoration: none;
}

.back p a:hover{

	background-color:#ffffff;
	color:#E66C3E;
	text-decoration: none;
}

.voyageur-image:before{
	position: absolute;
	z-index: -10;
	content:'';
	display: block;
	width:100%;
	height:100%;
	background-color:#E66C3E;
}

.voyageur-image:after{
	position:absolute;
	z-index: 10;
	display:block;
	width: 70%;
	left:0;
	right:0;
	margin: 0 auto;
	top:35%;
	height:initial;
	content: url("/img/biographie.svg");
	opacity:0;
	animation: opacity .1s;
}

.voyageur-image img{
	object-fit: cover;
	object-position: center;
	width:100%;
	height:100%;
	max-width: none;
	opacity:1;
    transition-delay: 50ms;
    transition: all .4s;
}


.voyageur-image:hover{
	margin-top: -9.5vh;
	cursor: pointer;
    transition: margin .1s;
    opacity:1;
}

.voyageur-image:hover::after{
	animation-delay:1s;
	animation: opacity .1s;
    opacity:1;
}


.voyageur-image:hover>img{
	opacity:.7;
}

.voyageur-infos{
	margin-top:15px;
	text-align:center;
}

.front h2{
	color:#E66C3E;;
	margin-bottom:0;
	font-size:130%;
}

.front h3{
	font-weight: 200;
	margin:0;
	font-size:110%;
}

.tete{
	position: relative;
	overflow: hidden;
	width: 100%;
	height:30vh;
}

.tete img{
	opacity: .6;
	object-fit: cover;
    object-position: center;
}

.intro-formulaire{
    position: absolute;
    background-color: rgba(255,255,255,.8);
    z-index: 20;
    width: 50%;
	max-width: 600px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    padding: 5% 20px 30px 20px;
    text-align: center;
}

.intro-formulaire strong{
	font-size:120%;
}

.corps{
	z-index: 1;
	position: relative;
	overflow: hidden;
	width: 100%;
	background-color: #E66C3E;
}

.corps:before{
	content:'';
	position: absolute;
	width: 100%;
    height:100%;
    opacity:0.2;
	overflow: hidden;
	background: url("/img/terre-rouge.jpg");
	transition:opacity;
 	background-size: cover;	
}

.corps form{
	max-width: 600px;
	font-family: 'Spectral', serif;
	font-size:1.2em;
	color:#FFF;
    position: relative;
    background-color: rgba(255,255,255,.1);
    z-index: 20;
    width: 50%;
    margin: auto;
    padding: 1em 20px 30px 20px;
}


form input{
	font-family: 'Spectral', serif;
	font-size:18px;
	color:#FFF !important;
	height:40px;
	margin-bottom: 10px;
    width: 100%;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #fff;
    background-color: transparent;
}

::-webkit-input-placeholder{
	color:#ffcebc;
	font-variant: italic;
}


form input:focus{
	outline:none;
}

form button{
	color:#FFF;
	font-size:.8em;
	font-family: 'Montserrat';
	font-weight: 200;
	letter-spacing: 1px;
    border-width: 1px;
    border-color: none;
    border-image: initial;
    display: block;
    width: 30%;
    padding: 10px 15px;
    text-align: center;
    margin: 1.5em auto .5em auto;
    background-color: transparent;
    border-color: #FFFFFF;
    border-style: solid;
}

form button:hover{
	background-color:#fff;
	color:#e0724a;
	cursor: pointer;
}

.ecrits{
    position: relative;
	background: linear-gradient(transparent, transparent 29px, #ffffff 18px);
    background-size: 30px 30px;
}

form textarea {
	width: 100%;
	height:auto;
    border:none;
    background-color:transparent;
    display: block;
    font-family: 'Spectral',cursive;
    font-size: 18px;
    color:#fff;
    line-height: 30px;
    margin: 2% auto;
    resize: none;
    min-height:100px;
    color:#fff;
    background-size: 100% auto;
}

form textarea:focus{
	outline:none;
}

main .ateliernav h1 {
	display:block;
	margin:0;
	padding:0;
}

main .ateliernav h2 {
	display: block;
	margin: 0;
	width:auto;
	padding:0;
}

main .ateliernav hr {
	clear:inherit;
    width: 20%;
    margin-top: 10px;
    margin-bottom: 0;
    margin-left: 85px;
}

.contact .col50{
	padding:0;
}

.contact .tete{
	height:initial;
}

.contact .tete img{
	display: none;
}

.contact .formulaire .intro-formulaire{
	width:100%;
	padding:0;
	position: relative;
	max-width: none;
	left:auto;
	top:auto;
	right:auto;
	background-color: transparent;
	bottom:auto;
	text-align:left;
}

.contact .formulaire .corps{
	background-color:transparent;
}

.contact .formulaire .corps:before{
	display: none;
}

.contact .formulaire .corps form{
	margin:inherit;
	padding:0;
	max-width: none;
	width: inherit;
	color:#000;
}

.contact .formulaire .corps ::-webkit-input-placeholder{
	color: #989898;
	font-variant: italic;
}

.contact .formulaire .corps form input{
	color:#000 !important;
	border-bottom:1px solid #e4e4e4;
}

.contact .formulaire .corps .ecrits{
    position: relative;
	background: linear-gradient(transparent, transparent 29px, #e4e4e4 18px);
    background-size: 30px 30px;
}

.contact .formulaire .corps textarea{
	color:#000;
	min-height:210px;
}

.contact .formulaire button{
	color: #C64F24;
	border-color: #F09878;
	margin: 2em 0 1em 0;
	transition: 200ms;
}

.contact .formulaire button:hover{
	background-color: #DB6F48;
	color: #ffffff;
	transition: 200ms;
}

.contact .col50 .info{

}
.info a{
	position: relative;
	font-weight:300;
	font-size:1em;
	text-decoration: none;
	color: #e6774f;
	padding-left:20px;
}

.info a:before{
    transform: rotate(180deg);
    content: "\A";
    border-style: solid;
    border-width: 6px 9px 6px 0px;
    border-color: transparent #C64F24 transparent transparent;
    position: absolute;
    left: 0px;
    top:3px;
}

.info a:hover{
	color:#C64F24;
}

.info{
	padding-left:130px !important;
}

.info p, .info h3, .info a, .info h4{
	font-family: 'Montserrat', sans-serif !important;
}

.info h4{
	color: #e6774f;

}

.info h3{
	margin-bottom:5px;
	color: #e6774f;
	font-size:1em;
	font-weight: 300;
}

.info a{
	margin: 20px 0;
}

svg {
  max-width: 95%;
  max-height: 95%;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

svg path {
  fill-opacity: 0;
  stroke: #000;
  stroke-width: 3;
  stroke-dasharray: 870;
  stroke-dashoffset: 870;
  animation: draw 20s infinite linear;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }

}

@import url("mediaqueries.css");